<div>
  <div class="text-center mt-3">
      <h3>Izmena podataka o administratoru</h3>
  </div>
  <div class="mt-4 p-3">
      <form class="form-add clearfix w-50 mx-auto p-4" ngNativeValidate (submit)="editAdministrator()">

          <div class="form-group">
              <label for="ime">Ime</label>
              <input class="form-control" type="text" name="ime" [(ngModel)]="administrator.ime" tabindex="1" required/>
          </div>
          <div class="form-group">
              <label for="prezime">Prezime</label>
              <input class="form-control" type="text" name="prezime" [(ngModel)]="administrator.prezime" tabindex="2" required />
          </div>

          <div class="form-group">
              <label for="korisnickoIme">Korisničko ime</label>
              <input class="form-control" type="text" name="korisnickoIme" [(ngModel)]="administrator.korisnickoIme" tabindex="3" required
              />
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="text"  name="email" [(ngModel)]="administrator.email" tabindex="4" required
            />
        </div>
        <div class="form-group">
          <label for="lozinka">Lozinka</label>
          <input class="form-control" type="text" name="lozinka" [(ngModel)]="administrator.lozinka" tabindex="5" required
          />
      </div>
          <div class="float-right">
              <button class="btn btn-outline-primary mr-1" type="submit" tabindex="6">Izmeni administratora</button>
              <button class="btn btn-outline-warning" type="button" tabindex="7" (click)="goBack()">Odustani</button>
          </div>

      </form>
  </div>
</div>
