<div class="container">

  <table class="table table-striped">
      <thead>
          <th>Id</th>
          <th>Predaje</th>
          <th>Odeljenje</th>
          <th>Operations </th>
      </thead>
      <tbody>
          <tr *ngFor="let predajeuodeljenju of predajeuodeljenjima$ | async">
              <td>{{predajeuodeljenju.idPredajeUOdeljenju}}</td>
              <td>{{predajeuodeljenju.predaje}}</td>
              <td>{{predajeuodeljenju.odeljenje}}</td>
             
              <td><button class="btn btn-danger" (click)="obrisiPredajeUodeljenjuPoId(predajeuodeljenju)">Obriši</button>
                  <button class="btn btn-primary" (click)="izmeniPredajeUodeljenju(predajeuodeljenju)" routerLink="{{'/editpredajeuodeljenju/' + predajeuodeljenju.idPredajeUOdeljenju}}">Izmeni</button>
                  <button class="btn btn-primary" (click)="dodajNoviPredajeUodeljenju(predajeuodeljenju)" routerLink="{{'/addpredajeuodeljenju'}}">Novi</button>

          </tr>
      </tbody>
  </table>
  <button class="btn btn-primary" (click)="newUser()">New User</button>
</div>